*{
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: white;
}
h2{
    color: white;
    text-align: center;
}
h3{
    color: white;
    text-align: center;
}
p{
    color: white;
}

body{
    font-family: 'sans-serif', "Quicksand";
    width: 100%;
    background-color: #00c8eb;
}

#jumbotron{
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    font-size: 20px;
    color: white;
}

nav{
    background-color: #00a2c6;
    padding: 5px;  
    border: solid 2px white;
}

nav li{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white; 
    display: inline;
    padding-left: 10px;
    
}

main{
    overflow: auto;
    background-color: #00c8eb;
}

.container{
    display: flex;
}

#content{
    float: left;
    padding: 5px;
    width: 75%;
    text-align: center;
    
}



aside{
    margin: auto;
    padding: 5px;
    width: 25%;
    float: right;
    text-align: center;
}

.img-profile{
    width: 100px;
    border-radius: 50%;
}

footer{
    text-align: center;

}

.card{
    margin: 20px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 8px 8px 5px 2px #444;
    background-color: gray;
    overflow: auto;
    
}
.flex-container{
    padding: 10px;
}

.row-reverse{
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    margin:  10px;
    padding: 10px;
    border: 5px solid #c3c3c3;
    
}
.row{
    display: flex;
    flex-direction: row;
    width: auto;
    margin:  10px;
    padding: 10px;
    border: 5px solid #c3c3c3;
    
}
.flexbox-item{
    margin: auto;
}
.icon{
    border: solid 2px;
}


footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
    width: 100%;
    bottom:0;
 }

 @media screen and (max-width: 1000px) {
    #content,
    aside {
      width: 100%;
      padding: 0;
      
    }
  }


